.feedback-message {
    & {
        text-align: center;
        padding: 4rem 0;
    }

    &__title {
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--support);

        @media(min-width: 1024px) {
            font-size: 3rem;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 1rem;

        @media(min-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    &__description {
        font-size: 1rem;
        max-width: 70%;
        margin: 0 auto 3rem;

        & a {
            text-decoration: underline;
        }
    }

    &__button {
        font-size: 0.75rem;
        text-transform: uppercase;
        border: 2px solid var(--support);
        background-color: transparent;
        padding: 0.5rem 1rem;

        @media(min-width: 1024px) {
            font-size: 1rem;
        }
    }
}