.form {
    & {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 2rem;
    }

    &__separator {
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        
        @media (min-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }

    &__label-text,
    &__input,
    &__text-area,
    &__button {
        padding: 0.5rem 1.25rem;
    }

    &__label-text {
        background-color: var(--support);
        color: var(--support-background);
        text-transform: uppercase;
        font-weight: bold;
        text-wrap: nowrap;
        min-width: 164px;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    &__label-text:has(+ &__text-area) {
        align-items: start;
    }

    &__input,
    &__text-area,
    &__button {
        width: 100%;
        border: 2px solid var(--support);
        background: none;
        font-size: 1rem;
    }

    &__button {
        background-color: var(--support);
        color: var(--support-background);
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}